
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
a{
    text-decoration: none;
}
*{
    padding: 0;margin: 0;box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top:50px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 0 25px; */
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 2;
    /* display: flex; */
    /* justify-content: end; */
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #555;
    padding: 5px 10px;

}
nav ul li a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-radius: 10px;

}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
    /* background-color: rebeccapurple; */
    /* justify-content: space-around; */
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    text-decoration: none;
    display: inline-block;
    background-color:#ff523b;
    color:#fff;
    padding: 8px 20px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #563434;
}

/* feature categary section */

.categories{
    margin:70px 0;
}
.col-3{
    flex: 20%;
    min-width: 250px;
    margin: 30px;
}
.col-3 img{
    width: 100%;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 30px;
}

    /* featured product */


.col-4{
    flex-basis: 20%;
/* pad: 10px; */
min-width: 200px;
margin:auto;
/* transform: translate(0.5s); */
transition: 0.5s;
}
.col-4 img{
    width: 100%;

}

.title{
    text-align: center;
    /* margin:0 auto 50px; */
    margin:80px 0 ;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content:'' ;
    background-color:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight:normal; 
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff522b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    margin-top: 60px;
    padding: 20px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.exclusive-btn{
    position: absolute;
left: 50%;

}

/* testimonials */
.testimonials{
    padding-top: 100px;
}
.testimonials .col-3{
    text-align: center;
    padding: 40px 30px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    
    transition: 0.5s;
}
.testimonials .col-3:hover{
    transform: translateY(-5px);

}
.testimonials .col-3 img{
    border-radius: 50%;
    margin-top:20px;
    width: 50px;
}
.fa.fa-quote-left{
    color: #ff523b;
    font-size:34px ;
}
.col-3 p{
 font-size: 12px;
 margin: 12px 0;
 color: #777;   
}
.testimonials .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* brands */
.brands{
    margin:100px auto ;
}
/* .col-5{
    width: 160px;
    display: flex;
    justify-content: center;
} */
.col-5{
flex-basis: 20%;
min-width: 200px;
margin:auto;

transition: 0.5s;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}   


/* footer */

.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}
.footer p{
    color:  #8a8a8a;

}
.footer h3{
    color: #fff;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;text-align: center;

}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 150px;
}
/* .footer hr{
    border: none;
    width: 1080px;
    background-color: #b5b5b5;
    height: 2px;
    margin: 20px 0;

} */
.copyright::before{
    content: '';
    display: block;
    border: none;
    width: 100%;
    background-color: #b5b5b5;
    height: 2px;
    margin: 20px 0;
    
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* media query for menu */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left:0;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
        /* height: 700px; */
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* media query for less then 600 */

@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3.col-4{
        flex-basis: 100%;
    }
    .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product{
        font-size: 26px;
        line-height:32px ;
    }
    .cart-info p{
        display: none;
    }
}

/* 
all product page */


.row-2{
    justify-content: space-between;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 0 80px 0;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    width: 40px;
    height: 40px;;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/* singel product details */

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;

}
.single-product .col-2{
    padding: 20px;
}
.single-product .col-2 h4{
    margin: 20px 0;
    font-size:22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px olid #ff523b;

}
input:focus{
    outline: none;
}
.single-product .fa.fa-indent{
    color:#ff523b ;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* cart items */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;

}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    font-weight: normal;

}
td{
    padding: 10px 5px;

}
td input{
    width: 40px;
    height: 30px;
    padding:5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width:400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* account-page */

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;

}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid#ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#loginForm{
    left: -300px;
}
#regForm{
    left: 0;
}
form a{
    font-size: 12px;
    color: #555;
}
#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top:8px ;
    transform: translateX(100px);
}


/* loader */

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: 2s;
    z-index: 99;
    /*background: pink;*/
}
/*.loader:before{
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: black;
	left: 0;
	transition: 2s;
	z-index: 999;
}*/
/*.loader:after{
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: black;
	right: 0;
	transition: 2s;
	z-index: 999;
}*/
.loader.complete{
	opacity: 0;
	z-index: -1;
}
.loader.complete:after{
	right: -100%;
}
.loader.complete:before{
	left: -100%;
}
.bars ul {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	display: flex;
	z-index: 9999;
}
.bars ul li{
	list-style: none;
	width: 8px; 
	height: 20px;
	background-color: black;
	margin: 0px 4px;
	animation:animate 0.7s infinite alternate;
}
.bars ul li:nth-child(1){
	animation-delay: 0.1s;
}
.bars ul li:nth-child(2){
	animation-delay: 0.2s;
}
.bars ul li:nth-child(3){
	animation-delay: 0.3s;
}
.bars ul li:nth-child(4){
	animation-delay: 0.4s;
}
.bars ul li:nth-child(5){
	animation-delay: 0.5s;
}
.bars ul li:nth-child(6){
	animation-delay: 0.6s;
}
.bars ul li:nth-child(7){
	animation-delay: 0.7s;
}
@keyframes animate{
	0%{
		transform: scaleY(1);
	}
	25%{
		transform: scaleY(1);
	}
	50%{
		transform: scaleY(1);
	}
	75%{
		transform: scaleY(1);
	}
	100%{
		transform: scaleY(3);
	}
}
